@import "./variables.scss";

.aside-container {
  display: inline-block;
  height: 100%;
  background: $body-background-color;

  .navbar-container {
    font-family: "Poppins", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    height: 100%;

    max-width: 73px;
    padding: 1.375rem 0;

    .logo-image {
      width: min(100%, 30px);
    }

    .menu-list li.menu-list-item {
      display: inline-block;
      list-style: none;

      a.menu-list-item-link {
        display: inline-block;

        padding: 0.6rem 1.375rem;
        color: $shape-color;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
          background-color: $tertiary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .aside-container {
    position: fixed;
    top: calc((100% - 70px) - 24px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    height: 70px;
    padding: 0 1.375rem;
    width: calc(100% - 46px);
    border-radius: 16px;

    .navbar-container {
      flex-direction: row;
      justify-content: space-between;
      gap: 0.375rem;

      max-width: unset;

      .menu-list li.menu-list-item {
        a.menu-list-item-link {
          padding: 0.6rem 1rem;
        }
      }
    }
  }
}