@import "./styles/variables";

.section-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 120%;
  color: $shape-color;
  margin-bottom: 1rem;
}

.section-posters-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 470px) {
  .section-title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 940px) {
  .section-posters-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .section-posters-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 470px) {
  .section-posters-container {
    gap: 1rem;
  }
}